<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>emotions</key>
	<array>
		<dict>
			<key>folder</key>
			<string>卖萌</string>
			<key>name</key>
			<string>卖萌</string>
			<key>desc</key>
			<string>今天没有吃药，感觉自己萌萌哒。</string>
		</dict>
		<dict>
			<key>folder</key>
			<string>跳舞</string>
			<key>name</key>
			<string>跳舞</string>
			<key>desc</key>
			<string></string>
		</dict>
		<dict>
			<key>folder</key>
			<string>吃药</string>
			<key>name</key>
			<string>吃药</string>
			<key>desc</key>
			<string>这是今天的药。</string>
		</dict>
		<dict>
			<key>folder</key>
			<string>流泪</string>
			<key>name</key>
			<string>流泪</string>
			<key>desc</key>
			<string>你以前不是这样的..</string>
		</dict>
		<dict>
			<key>folder</key>
			<string>扇人</string>
			<key>name</key>
			<string>扇人</string>
			<key>desc</key>
			<string>你是不是觉得自己萌萌哒？</string>
		</dict>
		<dict>
			<key>folder</key>
			<string>小幺鸡</string>
			<key>name</key>
			<string>小幺鸡</string>
			<key>desc</key>
			<string></string>
		</dict>
		<dict>
			<key>folder</key>
			<string>害羞</string>
			<key>name</key>
			<string>害羞</string>
			<key>desc</key>
			<string>不 不可以想那种事！</string>
		</dict>
		<dict>
			<key>folder</key>
			<string>开心</string>
			<key>name</key>
			<string>开心</string>
			<key>desc</key>
			<string>和你们这些土豪在一起，我觉得好开心。</string>
		</dict>
		<dict>
			<key>folder</key>
			<string>骂人</string>
			<key>name</key>
			<string>骂人</string>
			<key>desc</key>
			<string>楼上真不要脸。</string>
		</dict>
		<dict>
			<key>folder</key>
			<string>无意义</string>
			<key>name</key>
			<string>无意义</string>
			<key>desc</key>
			<string>没事儿就冒个泡。</string>
		</dict>
		<dict>
			<key>folder</key>
			<string>赞</string>
			<key>name</key>
			<string>赞</string>
			<key>desc</key>
			<string>干得漂亮！</string>
		</dict>
		<dict>
			<key>folder</key>
			<string>时事</string>
			<key>name</key>
			<string>时事</string>
			<key>desc</key>
			<string>100块都不给我！</string>
		</dict>
		<dict>
			<key>folder</key>
			<string>惊吓</string>
			<key>name</key>
			<string>惊吓</string>
			<key>desc</key>
			<string>我受到了惊吓。</string>
		</dict>
		<dict>
			<key>folder</key>
			<string>捂脸</string>
			<key>name</key>
			<string>捂脸</string>
			<key>desc</key>
			<string>世风日下，道德沦丧。</string>
		</dict>
		<dict>
			<key>folder</key>
			<string>装逼</string>
			<key>name</key>
			<string>装逼</string>
			<key>desc</key>
			<string>你们整天这样吹牛逼，你们真的快乐吗？</string>
		</dict>
		<dict>
			<key>folder</key>
			<string>肥皂</string>
			<key>name</key>
			<string>肥皂&amp;黄瓜</string>
			<key>desc</key>
			<string>你在渴望我手上的东西。</string>
		</dict>
		<dict>
			<key>folder</key>
			<string>疼爱</string>
			<key>name</key>
			<string>疼爱</string>
			<key>desc</key>
			<string></string>
		</dict>
		<dict>
			<key>folder</key>
			<string>逗</string>
			<key>name</key>
			<string>逗</string>
			<key>desc</key>
			<string>你TM在屎里下毒！</string>
		</dict>
		<dict>
			<key>folder</key>
			<string>抓狂</string>
			<key>name</key>
			<string>抓狂</string>
			<key>desc</key>
			<string>啊啊啊啊啊啊！</string>
		</dict>
		<dict>
			<key>folder</key>
			<string>鄙视</string>
			<key>name</key>
			<string>鄙视</string>
			<key>desc</key>
			<string>以你的知识水平我们很难交流。</string>
		</dict>
		<dict>
			<key>folder</key>
			<string>猥琐</string>
			<key>name</key>
			<string>猥琐</string>
			<key>desc</key>
			<string>小妹妹，吃糖吗？</string>
		</dict>
		<dict>
			<key>folder</key>
			<string>群嘲</string>
			<key>name</key>
			<string>群嘲</string>
			<key>desc</key>
			<string>你们这群傻叼。。</string>
		</dict>
		<dict>
			<key>folder</key>
			<string>熊猫</string>
			<key>name</key>
			<string>熊猫人系列</string>
			<key>desc</key>
			<string>戴着熊猫头的金馆长。</string>
		</dict>
	</array>
</dict>
</plist>
